<div class="row">
  <h1 class="main-title">Special Library for Unicorns</h1>
  <div class="col-md-3"></div>
  <div class="col-md-6 well">
    <p><a class="admin-link" href="/admin">Admin Page</a></p>
    <p><a class="books-link" href="/books">See All Books</a></p>
    <p><a class="patron-link" href="/new-account">Make Account</a></p>
  </div>
  <div class="col-md-3"></div>
</div>
