<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='app.css'>
  </head>
  <body>
    <div class="container">

      #parse( $template )
    </div>
  </body>
</html>
