<h1>Welcome</h1>



  <center>
    <img src="/images/dave.gif" alt="Unicorn Dave welcomes you">
  </center>


  <h2><a href="/welcome/$patron.getId()/all-books">Find a book!</a></h2>


<div class="hidden">
<audio controls autoplay>
  <source src="Horses.mp3" type="audio/mpeg">
</audio>
<audio controls autoplay>
  <source src="tada.mp3" type="audio/mpeg">
</audio>
</div>
